<!-- Footer -->
<hr class="footnote-pre-hr">
<!-- followus-section (non-flex) -->
<div class="followus-section">
    <div class="slide-content-container">
        <div class="slide-item followus-slide-item">
            <div class="slide-content-section followus-content-section">
                <div class="social-container">
                    <div class="image-container">
                        <img src="/img/contactus/github-logo.png" />
                    </div>
                    <div class="link-container">
                        <a class="tagline" href="https://github.com/abzico">abzico</a>
                    </div>
                </div>
                <div class="social-container">
                    <div class="image-container">
                        <img src="/img/contactus/wechat-logo.png" />
                    </div>
                    <div class="link-container">
                        <a class="tagline" href="/img/contactus/company-qrcode.jpg">气包子
                        </a>
                    </div>
                </div>
                <div class="social-container">
                    <div class="image-container">
                        <img src="/img/contactus/instagram-logo.png" />
                    </div>
                    <div class="link-container">
                        <a class="tagline" href="https://instagram.com/abzi_co">@abzi_co</a>
                    </div>
                </div>
                <div class="social-container">
                    <div class="image-container">
                        <img src="/img/contactus/twitter-logo.png" />
                    </div>
                    <div class="link-container">
                        <a class="tagline" href="https://twitter.com/abzi_co">@abzi_co</a>
                    </div>
                </div>
                <div class="social-container">
                    <div class="image-container">
                        <img src="/img/contactus/email-icon.png" />
                    </div>
                    <div class="link-container">
                        <a class="tagline" href="mailto:contact@abzi.co">Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footnote-section">
    <div>&copy; Copyrights - All Rights Reserved 2017</div>
    <div class="gray">深圳市气包子科技合伙企业（有限合伙）</div>
    <a href="http://www.miitbeian.gov.cn/">
        粤ICP备17112999号
    </a>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>

<!-- abzico JavaScript -->
<script src="{{ "/js/abzico.js " | prepend: site.baseurl }}"></script>